*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #00b068;
  text-align: center;
  padding: 1.5rem;
}

.news {
  width: 160px;
  background-color: purple;
}

.newsContainer {
  margin: 0;
  padding: 0;
}

.news-scroll a {
  text-decoration: none;
}

#worldClocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.5rem;
}

body {
  background: #f5f7f6;
  font-size: 100%;
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
}

#displayArea {
  background-color: white;
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
  -webkit-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
  -moz-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
  
}

#displayArea1 {
  background-color: white;
  padding: 20px;
margin-top: 2rem;
margin-bottom: 2rem;
box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
-webkit-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
-moz-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);

}

#second-tradingview {
display:flex;
justify-content: center;

}

.tradingview-widget-container {
  
 
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #b4b4b4;
  color: #070703;
  text-align: center;
  transition: all 0.2s;
  width: 200px;
  margin-left: 80px;

}

#FEXRdivResp {
margin-top: 40px; 
margin-bottom: 40px;
box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
-webkit-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);
-moz-box-shadow: 10px 10px 36px 1px rgba(90,90,90,0.49);

}


button:hover {
  color: #000000;
  background-color: #00b068;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}


.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border:0.1em solid #070706;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color: #070703;
  text-align:center;
  transition: all 0.2s;
}


  .button:hover{
  color:#000000;
  background-color:#00b068;;
  }
  @media all and (max-width:30em){
 .button{
  display:block;
margin:0.4em auto;
 }
} 